<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5bDJcBwxiJZvmiY4CuBZC1pHz5uxiZYE</string>
	<key>GCM_SENDER_ID</key>
	<string>244683238343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatKide</string>
	<key>PROJECT_ID</key>
	<string>uofk-5a8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>uofk-5a8fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244683238343:ios:4cf4f47d37281908ea07e2</string>
</dict>
</plist>